<! DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: ludo-head" />
<meta charset="utf-8">
<title>Catalogue</title>

<body>

	<header th:include="layout::ludo-header" />

	<h1 >Liste des jeux</h1>

	<div>
		<table class="table-bordered">
		<thead>
			<tr>
				<th scope="col">Titre</th>
				<th scope="col">Description</th>
				<th scope="col">Thème</th>
				<th scope="col">Nombre de joueur min</th>
				<th scope="col">Nombre de joueur max</th>
				<th scope="col">Exemplaire catalogue</th>
				<th scope="col">Exemplaire disponible</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="jeu : ${jeuxFirstPage}">
				<td th:utext="${jeu.titre}">...</td>
				<td th:utext="${jeu.description}">...</td>
				<td th:utext="${jeu.theme}">...</td>
				<td th:utext="${jeu.joueurMin}">...</td>
				<td th:utext="${jeu.joueurMax}">...</td>
				<td th:utext="${jeu.exemplaireCatalogue}">...</td>
				<td th:utext="${jeu.exemplaireDispo}">...</td>
				<td>
				<a th:href="@{/gestionCatalogue/modif/__${jeu.id}__}" class="btn btn-info" role="button">Modifier</a>
				<a th:href="@{/supprimeJeu/__${jeu.id}__}" class="btn btn-info" role="button">Supprimer</a>
				</td>
			</tr>
		</tbody>
		</table>
	</div>

	<footer th:include="layout::ludo-footer" />

</body>

</html>