<! DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: ludo-head" />
<meta charset="utf-8">
<title>Gestion catalogue</title>

<body>

	<header th:include="layout::ludo-header" />

	<h1>Ajouter un jeu au catalogue</h1>
	<p> Les champs suivis d'une * sont obligatoire. </p>

	<form id="modifJeuForm" action="#" th:action="@{/gestionCatalogue}"
		th:object="${jeu}" method="post">
		<table>
			<tr>
				<td><input id="idJeu" type="hidden" th:field="*{id}" /></td>
			</tr>
			<tr>
				<td>Titre : *</td>
				<td><input id="titreJeu" type="text" onchange="this.value = this.value.toUpperCase();" th:field="*{titre}" required/></td>
			</tr>
			<tr>
				<td>Description :</td>
				<td><input type="text" th:field="*{description}" /></td>
			</tr>
			<tr>
				<td>Theme :</td>
				<td><input type="text" th:field="*{theme}" /></td>
			</tr>
			<tr>
				<td>Nombre de joueur min : *</td>
				<td><input type="number" min="1" th:field="*{joueurMin}" required/></td>
			</tr>
			<tr>
				<td>Nombre de joueur max : *</td>
				<td><input type="number" min="1" th:field="*{joueurMax}" required/></td>
			</tr>
			<tr>
				<td>Nombre d'exemplaires catalogue : *</td>
				<td><input type="number" min="1" th:field="*{exemplaireCatalogue}" required /></td>
			</tr>
			<tr>
				<td>Nombre d'exemplaires disponibles : *</td>
				<td><input type="number" min="0" th:field="*{exemplaireDispo}" /></td>
			</tr>

			<tr>
				<td><input type="submit" value="Valider" required/> <input type="reset"
					value="Effacer" /></td>
			</tr>
		</table>
	</form>

	<footer th:include="layout::ludo-footer" />
	<!-- <script th:inline="javascript">
		/*<![CDATA[*/
		$(document)
				.ready(
						function() {

							// SOUMETTRE LE FORMULAIRE
							$("#modifJeuForm").submit(function(event) {
								// Empêche le formulaire d'être lancé directement par le browser.
								event.preventDefault();
								ajaxPost();
							});

							function ajaxPost() {

								// DEFINI LES INFOS DU FORMULAIRE
								var formData = {
									id : $("#id").val(),
									titre : $("#titre").val(),
									description : $("#description").val(),
									theme : $("#theme").val(),
									joueurMin : $("#joueurMin").val(),
									joueurMax : $("#joueurMax").val(),
									exemplaireCatalogue : $(
											"#exemplaireCatalogue").val(),
									exemplaireDispo : $("#exemplaireDispo")
											.val()
								}

								// DO POST
								$
										.ajax({
											type : "POST",
											contentType : "application/json",
											url : window.location
													+ "/gestionCatalogue",
											data : JSON.stringify(formData),
											dataType : 'json',
											success : function(result) {
												if (result.status == "Done") {
													$("#postResultDiv")
															.html(
																	"<p style='background-color:#7FA7B0; color:white; padding:20px 20px 20px 20px'>"
																			+ "---> <!-- Le jeu "
																			+ result.data.titre
																			+ " à été ajouté avec succès "
																			+ "</p>");
												} else {
													$("#postResultDiv")
															.html(
																	"<strong>Error</strong>");
												}
												console.log(result);
											},
											error : function(e) {
												alert("Error!")
												console.log("ERROR: ", e);
											}
										});

								resetData();
							}

							function resetData() {
								$("#id").val("");
								$("#titre").val("");
								$("#description").val("");
								$("#theme").val("");
								$("#joueurMin").val("");
								$("#joueurMax").val("");
								$("#exemplaireCatalogue").val("");
								$("#exemplaireDispo").val("");
							}
						})}
/*]]>*/
	</script>  -->

</body>

</html>