<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::ludo-head" />
<meta charset="utf-8">
<title>Accueil</title>

<body>
	<header th:include="layout::ludo-header" />


	<h1 >Quoi de neuf ?</h1>

	<div class="articles" style="margin : 10;">
	<article class=" ludolife"
		th:each="article : ${articlesFirstPage}">
		<div style="background-color: #d4e4f0;">
			<h2 th:utext="${article.titre}">...</h2>
			<p class="content" th:utext="${article.texte}">...</p>
			<div class="date">
				<i>Posté le</i> <span
					th:text="${#dates.format(article.date, 'dd-MMM-yyyy')}">...</span>
			</div>
			<div>
				<a th:href="@{/creationArticle/modif/__${article.id}__}" class="btn btn-info" role="button">Modifier</a> 
				<a th:href="@{/supprimeArticle/__${article.id}__}" class="btn btn-info" role="button">Supprimer</a>
			</div>
		</div>
	</article>
	</div>

	<footer th:include="layout::ludo-footer" />

</body>

</html>