<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::ludo-head"/>	
<meta charset="utf-8">
	<title>Accueil</title>

<body>
	<header th:include="layout::ludo-header"/>

	
	<h1>Quoi de neuf ?</h1>
	
	<main id="articles">
	<article th:each ="article : ${articlesFirstPage}">
		<h2 th:utext="${article.titre}">...</h2>
		<p class="content" th:utext="${article.texte}">...</p>
		<div class="date">
			<i>Posté le</i>
			<span th:text="${#dates.format(article.date, 'dd-MMM-yyyy')}">...</span>
		</div>
	</article>
	</main>
	
	<footer th:include="layout::ludo-footer"/>

</body>

</html>